<section class = 'left-aside'>
<div class ='d-flex justify-content-around py-4'>
  <div>
    <%= link_to image_tag(current_user.photo,  class: 'profile-img-index rounded'), user_path(current_user) %>
  </div>
  <div class = 'mt-4 ml-n4'>
    <%=link_to current_user.fullname.upcase, user_path(current_user.id), class: 'text-secondary font-weight-bold' %>
  </div>
</div>

<div class = 'left-sidebar'>
  <div class ='text-center border py-3'>
    <h4 class = 'text-white'><%= current_user.followings.count %> </h4>
    <h5 class = 'text-secondary font-size-large font-weight-bold'>Followings</h5>
  </div>
  <div class ='text-center border py-3'>
    <h4 class = 'text-white'><%= current_user.followers.count %> </h4>
    <h5 class = 'text-secondary font-size-large font-weight-bold'>Followers</h5>
  </div>
<div class = 'home p-4 user-details'>
  <%= link_to "<i class='fas fa-home text-secondary pr-3'></i>".html_safe, users_path %>
  <%= link_to 'HOME', users_path, class: 'text-secondary' %>
</div>
<div class = 'profile p-4 user-details'>
  <%= link_to "<i class='fas fa-user text-secondary pr-3'></i>".html_safe, user_path(current_user.id) %>
  <%= link_to 'PROFILE', user_path(current_user.id), class: 'text-secondary' %>
</div>

  <div class="logout p-4 user-details">
    <%= link_to "<i class='fas fa-power-off text-secondary pr-3'></i>".html_safe, session_path(:current_user), method: :delete %>
    <%= link_to 'LOGOUT', session_path(:current_user), class: 'text-secondary', method: :delete %>
  </div>
</div>
</section>