<section class = 'container-fluid'>
<div class = 'container-fluid right-bar2'>
  <div class = 'user-info photo-name'>
    <div class = 'profile-show d-flex justify-content-center pt-4'>
      <div>
        <% if @user.id != current_user.id %>
          <% if @user.follower?(current_user, @user.id) %>
            <%=link_to "<i class='text-warning fas fa-minus-circle fa-2x'></i>".html_safe, following_path(followed_id: @user.id), method: :delete %>
          <% else %>
            <%=link_to "<i class='text-success fas fa-plus-circle fa-2x d-flex justify-content-center'></i>".html_safe, followings_path(followed_id: @user.id), method: :post %>
          <% end %>
        <% end %>
      </div>
      <div class = 'profile-img-show mx-4'>
        <%= image_check_right(@user.photo) %>
      </div>
      <div class = 'lists'>
        <i class="fas fa-list fa-lg text-primary pt-2"></i>
      </div>
    </div>
    <div class= 'name-show pt-3'>
      <%= link_to @user.fullname.upcase, user_path(current_user.id), class: 'name text-dark font-weight-bold' %></br>
      <div class = 'identifier'><p>@<%= @user.username %></p></div>
    </div>
  </div>
  <div class = 'd-flex border-top'>
    <div class ='follow-count p-3'>
      <h4 class = 'text-center border-right'><%= @user.opinions.count%> </h4>
      <p class = 'border-right pr-3'>Tweets</p>
    </div>
    <div class ='follow-count p-3'>
      <h4 class = 'text-center border-right'><%= @user.followings.count %> </h4>
      <p class = 'border-right pr-3'>Followings</p>
    </div>
    <div class = 'follow-count py-3'>
      <h4 class = 'text-center pr-2'><%= @user.followers.count %> </h4>
      <p>Followers</p>
    </div>
  </div>
  <div class 'followed-by'>
    <h4>FOLLOWED BY</h4>
    <% @user.follower_users.each do |x|  %>
      <div class="border-bottom">
        <%= followed_by(current_user, x) %>
      </div>
    <% end %>
  </div>
</section>