<nav class='navbar navbar-expand-md navbar-dark navbar-custom bg-primary pt-3 pb-3'>
    <%= link_to 'Coding Twitter', root_path, class: 'text-white font-weight-bold' %>

  <div class="logo pl-2">
    <%= link_to "<img style='width: 40px' src='https://www.freelogodesign.org/file/app/client/thumb/2afd3b18-cda1-4bc6-aad2-71500f4b9a94_200x200.png?1596903768165'>".html_safe, users_path %>
  </div>
<div class="nav_links ml-auto pt-2 pr-3 ">
  <%= link_to "<i class='fas fa-pencil-alt pl-3 pr-4 icons'></i>".html_safe, new_opinion_path %>
  <%= link_to "<i class='fas fa-envelope pl-3 pr-4 icons'></i>".html_safe, users_path %>
  <%= link_to "<i class='fas fa-search pl-3 pr-4 icons'></i>".html_safe, users_path %>
  <%= link_to "<i class='fas fa-cog pl-3 pr-4 icons'></i>".html_safe, users_path %>
</div>
  </nav>