<!DOCTYPE html>
<html>
  <head>
    <title>CodingTwitter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  </head>

  <body>
    <% if notice.present? %>
      <div class="notice">
        <p class = 'notice-color text-center text-success h5 pt-2'> <%= notice %> </p>
      </div>
    <% end %>
    <% if alert.present? %>
      <div class="alert">
        <p class = 'alert-color text-center text-danger h5 pt-2'> <%= alert %> </p>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
